<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:aop="http://www.springframework.org/schema/aop"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.directwebremoting.org/schema/spring-dwr
						http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<dwr:configuration />

	<bean id="fileUploader" class="com.idega.content.upload.business.FileUploaderBean" scope="session">
		<dwr:remote javascript="FileUploader" />
		<aop:scoped-proxy />
	</bean>
	<bean id="fileUploadProgressListener" class="com.idega.content.upload.business.FileUploadProgressListenerBean" scope="session">
		<dwr:remote javascript="FileUploadListener" />
		<aop:scoped-proxy />
	</bean>
	
	<bean id="themesHelper" class="com.idega.content.themes.helpers.business.impl.ThemesHelperImpl" scope="singleton" />

</beans>