<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<servlet>
		<display-name>ContentFileUploadServlet</display-name>
		<servlet-name>ContentFileUploadServlet</servlet-name>
		<servlet-class>com.idega.content.upload.servlet.ContentFileUploadServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentFileUploadServlet</servlet-name>
		<url-pattern>/servlet/ContentFileUploadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>BlueimpUploadServlet</display-name>
		<servlet-name>BlueimpUploadServlet</servlet-name>
		<servlet-class>com.idega.content.upload.servlet.BlueimpUploadServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlueimpUploadServlet</servlet-name>
		<url-pattern>/servlet/blueimp-upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ICFileUploadServlet</display-name>
		<servlet-name>ICFileUploadServlet</servlet-name>
		<servlet-class>com.idega.content.upload.servlet.ICFileUploadServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ICFileUploadServlet</servlet-name>
		<url-pattern>/servlet/ic-file-upload</url-pattern>
	</servlet-mapping>
	
</web-app>