<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	
	<servlet>
		<display-name>ContentFileUploadServlet</display-name>
		<servlet-name>ContentFileUploadServlet</servlet-name>
		<servlet-class>com.idega.content.upload.servlet.ContentFileUploadServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentFileUploadServlet</servlet-name>
		<url-pattern>/servlet/ContentFileUploadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>BlueimpUploadServlet</display-name>
		<servlet-name>BlueimpUploadServlet</servlet-name>
		<servlet-class>com.idega.content.upload.servlet.BlueimpUploadServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlueimpUploadServlet</servlet-name>
		<url-pattern>/servlet/blueimp-upload</url-pattern>
	</servlet-mapping>
	
</web-app>