.changeCategoryUsageImageStyle {
	cursor: pointer;
}

.categoriesFontStyle {
	font-weight: bold;
}

.localesForCategoriesDropDownMenuStyle {
}

.categoriesTableCellStyle {
	width: 105px;
}

.changeCategoryNameLabelStyle {
	cursor: pointer;
}

.deleteCategoryImageStyle {
	cursor: pointer;
}

.localizedCategoryLabelStyle {
	width: 55%;
}

.changeCategoryNameInputStyle {
	margin: 0px;
	width: 100px;
}

.newCategoryNameLabelStyle {
	font-weight: bold;
}

.categoriesTableHeader {
	font-weight: bold;
	text-align: center;
}

.categoryBodyRow {
	text-align: center;
}

.categoriesHelpTextStyle {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
}

.categoriesTable {
}