.changeCategoryUsageImageStyle {
	cursor: pointer;
}

.categoriesFontStyle {
	font-weight: bold;
}

.localesForCategoriesDropDownMenuStyle {
}

.changeCategoryNameLabelStyle {
	cursor: pointer;
}

.deleteCategoryImageStyle {
	cursor: pointer;
}

.localizedCategoryLabelStyle {
	width: 55%;
}

.changeCategoryNameInputStyle {
	width: 45%;
}

.newCategoryNameLabelStyle {
	font-weight: bold;
}

.categoriesTableHeader {
	font-weight: bold;
	text-align: center;
}

.categoryBodyRow {
	text-align: center;
}

.categoriesHelpTextStyle {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
}

.categoriesTable {
}