div.content_item_toolbar {
	width: 100%;
	overflow: hidden;
	display: none;
}

ul.content_item_toolbar {
	border: 1px #fff solid;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	background: #666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0;
}

.content_item_toolbar li {
	margin: 0 !important;
	float: left;
	line-height: 1em !important;
	border-left: 1px #fff solid;
	padding: 0 !important;
}

.content_item_toolbar li a {
	line-height: 1em !important;
	text-decoration: none;
	color: #fff !important;
	font-size: 9px !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	text-shadow: #fff 1px 1px 1px;
	padding: 3px 10px;
	display: block;
	background: none;
}

.content_item_toolbar li.last {
	border-right: 0;
}

.content_item_toolbar li.first {
	border-left: 0;	
}

.blog-entry, .article_item {
	position: relative;
	border: 1px transparent solid;
	height: 21px;
}

html>body .blog-entry, html>body .article_item {
	height: auto;
	min-height: 21px;
}

.blog-entry.hovered, .article_item.hovered {
	background-color: #efefef;
	border: 1px #a0a0a0 solid;
}

.blog-entry div.content_item_toolbar, .article_item div.content_item_toolbar {
	position: absolute;
	top: 1px;
	right: 1px;
	width: auto;
}

.commentsController {
	display: none;
	position: relative;
}

.commentsController .commentsControllerInputs {
	border: 1px #fff solid;
	background: #666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	color: #fff !important;
	font-size: 9px !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	text-shadow: #fff 1px 1px 1px;
	padding: 2px 6px;
	line-height: 1em !important;
	position: absolute;
	right: 0;
}

.commentsController .commentsControllerInputs input {
	float: left;
	margin: 0;
	margin-right: 4px;
}

.commentsController .commentsControllerInputs label {
	float: left;
	margin-top: 3px;
}

iframe.contentItemEditorFrameStyle {
	bottom: 0;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

div#mb_bottom #mb_caption {
	line-height:24px;
	margin-left:8px;
	margin-top:4px;
}

a#mb_close_link {
	background:transparent url(images/close_24.png) no-repeat scroll 0 0 !important;
	border:0 none !important;
	float:right;
	height:24px !important;
	margin-right:4px;
	margin-top:4px;
	width:24px !important;
}