/*** idegaWeb Content CSS classes ***/
.content_viewer_new_folder {
	width: auto;
	height: 14px;
	background: url(../images/newfolder.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_details {
	width: auto;
	height: 16px;
	background: url(../images/details.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_preview {
	width: auto;
	height: 16px;
	background: url(../images/preview.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_document_list {
	width: auto;
	height: 16px;
	background: url(../images/list.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_permissions {
	width: auto;
	height: 16px;
	background: url(../images/permissions.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_file_details {
	width: 16px;
	height: 16px;
	background: url(../images/details.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_viewer_file_preview {
	width: 16px;
	height: 16px;
	background: url(../images/preview.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_viewer_file_permissions {
	width: 16px;
	height: 16px;
	background: url(../images/permissions.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_file_preview {
	
}

.content_search_link {
	
}

/*ContentList (DocumentList/ContentViewer) overriding standard styles*/
.contentListBlock .wf_blockmainarea {
	padding: 0px;
}

div.contentListBlock div.wf_blockmainarea div.scrollContainer {
	height: 285px;
}

head:first-child+body div[class].contentListBlock div[class].scrollContainer {
	height: 285px;
}

head:first-child+body div[class].contentListBlock div[class].scrollContainer table thead[class].fixedHeader tr {
	display: block;
}

/* define the table content to be scrollable                                              */ /* set TBODY element to have block level attributes. All other non-IE browsers            */ /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */ /* induced side effect is that child TDs no longer accept width: auto                     */ /* Filter out Opera 5.x/6.x and MacIE 5.x                                                 */
head:first-child+body div[class].contentListBlock div[class].wf_blockmainarea div[class].scrollContainer table tbody {
	height: 262px;
}

.cms_permission_matrix {
	height: 150px;
	overflow: auto;
	border: 1px solid #D3D3D3;
	margin: 5px 5px 5px 5px;
}

.cms_permission_matrix_header {
	font-weight: bold;
	margin: 5px;
}

.cms_permission_listoddrow {
	background-color: #f6f6f6;
	height: 20px;
}

.cms_permission_listevenrow {
	background-color: #ffffff;
	height: 20px;
}

.cms_permission_list_input {
	height: 18px;
	width: 100px;
	border: 1px solid #D3D3D3;
}

.content_search_link {
	
}

.page_create_edit_link {
	background-image: url(../images/edit_16.gif);
}

.page_details_link {
	background-image: url(../images/details.gif);
}

.page_save_link {
	background-image: url(../images/save_16.gif);
}

.create_page_fieldset {
	height: 200px;
}

.create_page_fieldset .formInput {
	float: left;
	clear: right;
	display: inline;
}

.create_page_fieldset .label {
	float: left;
	clear: left;
	display: inline;
}

.page_tree {
	width: 200px;
	height: 100px;
	clear: both;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	overflow: auto;
}

/*div.ws_main div.wf_block div.wf_toolbarcontainer {
	width: 100%;
	height: 18px;
	background: #FAFAFA url(images/toolbar/bg_item.gif) repeat-x;
	border-bottom: 1px solid #D7D7D7;
}*/
.current_structure {
	position: absolute;
	border-left: 0px;
	border-bottom: 0px;
	float: right;
	margin: 0px 0px 10px 10px;
}

.current_structure ul {
	list-style-type: none;
	padding-left: 15px;
}

.current_structure li {
	list-style-type: none;
	vertical-align: middle;
}

#floatingContainer li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	padding-left: 3px;
	line-height: 13px;
	color: #000;
	font-family: arial;
}

.current_structure input {
	border: 0;
	padding: 0;
	margin: 0;
}

.current_structure a { /*	vertical-align: 20%;*/
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.current_structure img {
	padding: 0px;
	margin: -1px 0px -1px 0px;
	border: 0px;
}

.template_tree { /*
	position:absolute;
	right:0;
	top:90px;
	border-left:0px; 
	border-bottom:0px;

	float:right;
*/
	width: 70%;
	background: #fff;
	margin: 0px 0px 10px 10px;
}

.template_tree ul {
	list-style-type: none;
	text-decoration: none;
	padding-left: 15px;
}

.template_accordion {
	list-style-type: none;
	text-decoration: none;
	padding-bottom: 15px;
	top: 50%;
}

.themesTicker {
	overflow: hidden;
	width: auto !important;
	position: absolute;
	left: 32px;
	right: 32px;
}

.themesSlider {
	border: 1px #cdcdcd solid;
	position: absolute;
	left: 5px;
	right: 262px;
	width: auto;
	overflow: hidden;
	height: 150px;
	background: url(images/sub_navigation_background.gif) left bottom repeat-x #fff;
	top: expression(document . body . clientHeight ?   document . body . clientHeight -   218 +   'px' :   document . documentElement . clientHeight -   218 +   'px');
}

html>body .themesSlider {
	top: auto;
	bottom: 5px;
}

.themeScroller {
	z-index: 9999;
	padding: 0 4px;
	padding-top: 64px;
	cursor: pointer;
	float: left;
}

.rightThemeScroller {
	float: right;
}

.themes_gallery {
	
}

.themeName {
	text-align: center;
	color: #a1a1a1;
	clear: left;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	width: 152px;
	height: 12px;
	overflow: hidden;
	font-size: 10px;
}

.usedThemeName {
	color: #1f1f1f;
}

.selectedThemeName {
	color: #1f1f1f;
}

.themesTicker {
	height: 150px;
	overflow: hidden;
	float: left;
}

.themesTicker .multiImageGallery {
	position: relative;
	overflow: hidden;
}

.themesTicker .multiImageGallery .imageGallery {
	cursor: pointer;
	float: left;
	overflow: hidden;
}

.imageGallery {
	
}

.multiImageGallery {
	
}

.galleryImage {
	float: left;
}

.galleryImage .firstInRow {
	clear: left;
}

.galleryImage .lastInRow {
	clear: right;
}

.bigThemePreview {
	width: 70%;
	border: 1px solid #D7D7D7;
}

.themeChooseStyle {
	position: fixed;
	width: 147px;
	height: 110px;
	z-index: 99999;
	clear: both;
	margin-top: 40px;
	bottom: 55px;
}

.themeChooseStyle .themesButtonContainer {
	overflow: hidden;
	position: absolute;
	top: 58px;
	left: 3px;
}

.themeChooseStyle .left {
	width: 5px;
	height: 48px;
	float: left;
	background: url(images/buttons-left.png) left no-repeat;
}

.themeChooseStyle .right {
	height: 32px;
	padding: 8px 0;
	padding-right: 10px;
	padding-left: 5px;
	background: url(images/buttons-right.png) right no-repeat;
	float: left;
}

.themeChooseStyleText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	float: left;
	margin: 0 4px;
}

.themeChooseStyleText #pageStyle {
	display: block;
	height: 32px;
	width: 32px;
	background: url(images/opnbr_32.png) no-repeat;
}

.themeChooseStyleText #pageAndChildrenStyle {
	display: block;
	height: 32px;
	width: 32px;
	background: url(images/docs_32.png) no-repeat;
}

.themeChooseStyleText #siteStyle {
	display: block;
	height: 32px;
	width: 32px;
	background: url(images/ntwrk_32.png) no-repeat;
}

.pageInfoStyle {
	position: absolute;
	width: 250px;
	height: 150px;
	bottom: 15px;
	border: 1px solid #D7D7D7;
	z-index: 1;
}

.pageInfoStyle_accordion {
	width: auto;
	padding: 0;
}

.webfaceFormSection,.siteInfoStyle_accordion .wf_blockmainarea {
	margin: 0 !important;
	padding: 6px !important;
}

.webfaceFormItem {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	margin-bottom: 6px !important;
}

.webfaceFormItem label {
	display: block;
	float: left;
	width: 120px;
	line-height: 19px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1f1f1f;
}

.webfaceFormItem input {
	float: left;
	width: 100px;
	margin: 0 !important;
	padding: 2px 4px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1f1f1f;
}

.webfaceButtonLayer {
	margin: 0 !important;
	text-align: left;
	padding: 0 12px 12px 6px !important;
	overflow: hidden;
}

.webfaceButtonLayer input {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	margin: 0 !important;
	font-size: 12px !important;
	text-transform: capitalize !important;
	padding: 3px 5px;
}

.buttonsContainerStyle {
	position: absolute;
	width: 100%;
	bottom: 0px;
	border: 1px solid #D7D7D7;
}

.siteInfoStyle {
	position: absolute;
	width: 275px;
	height: 325px;
	right: 0px;
	bottom: 0px;
	border: 1px solid #D7D7D7;
	z-index: 1;
}

.siteInfoStyle_accordion {
	overflow: auto;
}

.rightSideInSiteManagerStyle {
	float: left;
	padding-left: 5px;
}

.currentStructureStyle {
	position: absolute;
	width: 275px;
	height: 275px;
	right: 0px;
	border: 1px solid #D7D7D7;
}

.rightButtonStyle {
	float: right;
}

.leftButtonStyle {
	float: left;
}

.accordionTabTitleBar {
	background-color: #D3D3D3;
	border: 1px outset #D7D7D7;
}

.accordionTabContentBox {
	background-color: #F2F2F2;
	/*	border: 1px outset #F2F2F2; */
}

.template_tree {
	background-color: #F2F2F2;
	/*	border: 1px solid #000000;
	*/
}

.newPageContainerStyle, .newPagesContainerStyle {
	position: absolute;
	top: 4px;
	width: auto;
	z-index: 100;
	background: url(images/popup-back.png);
	border: 3px solid #333;
	margin-left: 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 8px;
}

#div_id_new_page_tree ul {
	list-style-type: none;
}

.pageInfoButtonsContainer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #D7D7D7;
}

.pagesTypesContainer {
	border: 1px solid #D7D7D7;
	height: 130px;
}

.pagesTypesContainer ul {
	list-style-type: none;
	padding-left: 15px;
}

.siteTemplatesContainer {
	bottom: 0px;
	right: 0px;
	border: 1px solid #D7D7D7;
}

.siteTemplatesContainer ul {
	list-style-type: none;
	padding-left: 15px;
}

.site_tree_container_site {
	position: absolute;
	right: 0px;
	width: 275px;
	border: 1px solid #D7D7D7;
}

.site_tree_container_site_accordion {
	position: relative;
	right: 0px;
}

.site_tree_container {
	width: 250px;
	border: 1px solid #D7D7D7;
}

.site_tree_container_pages ul {
	list-style-type: none;
	padding-left: 15px;
}

.site_tree_container_site ul {
	list-style-type: none;
	padding-left: 15px;
}

.site_tree_container_site_accordion ul {
	list-style-type: none;
	padding-left: 15px;
}

.siteTreeTopic {
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px;
}

.recycleBin {
	border: 2px outset #D7D7D7;
	opacity: 0.5;
	height: 16px;
	width: 16px;
}

.siteTree {
	margin: 5px;
	border: 1px solid #D7D7D7;
	overflow: auto;
	height: 200px;
	width: 250px;
}

/* Various site manager styles */
#pagesTypesContainer {
	border: 1px #cacaca solid;
	bottom: 5px;
	top: auto;
	background-color: #fff;
}

div.siteTemplatesContainerStyle {
	border-width: 1px;
	border-color: #D7D7D7;
	border-style: solid;
	background-color: #fff;
	overflow: auto;
	position: absolute;
	top: 5px;
	left: 280px;
	right: 5px;
	width: auto !important;
}

div.siteTemplatesContainerStyle ul {
	list-style: none;
}

.siteTemplatesLabelStyle {
	border-bottom: 1px #bdbdbd solid;
	background: url(images/accordion_title.gif) top left repeat-x #d1d1d1;
	line-height: 16px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #3d3d3d;
	padding: 0 6px;
	font-weight: bold;
	display: block;
}

div#siteTemplatesContainer div.siteTemplatesContainer .wf_blockmainarea #site_templates .accordionTabContentBox {
	border: 1px solid #d7d7d7 !important;
}

div.siteTemplatesContainer {
	height: 326px !important;
	left: 8px;
	/*right: 281px !important;*/
	width: auto !important;
}

#site_templates {
	border-bottom-width: 0 !important;
}

div.siteTemplatesContainer .wf_block {
	
}

div.siteTemplatesContainer .wf_blockmainarea {
	bottom: 0 !important;
	padding: 0 !important;
	border-bottom: 1px solid #777777 !important;
}

div.siteTemplatesContainer .wf_titlebar {
	display: block !important;
	background: #fff !important;
	position: absolute;
	bottom: 304px !important;
	border: 1px solid #d7d7d7;
	border-width: 1px 0;
}

div.siteTemplatesContainer .wf_titlebar_icon,div.pagesTypesContainer .wf_titlebar_icon,#pageInfoContainer .wf_titlebar_icon,#site_tree_container .wf_titlebar_icon,#siteInfoContainer .wf_titlebar_icon {
	display: none;
}

div.siteTemplatesContainer .wf_titlebar_text,div.pagesTypesContainer .wf_titlebar_text,#pageInfoContainer .wf_titlebar_text,#site_tree_container .wf_titlebar_text,#siteInfoContainer .wf_titlebar_text {
	padding: 3px 0 0 10px;
}

div.pagesTypesContainer .wf_titlebar {
	display: block !important;
	background: #fff !important;
	position: absolute;
	z-index: 1;
}

div.pagesTypesContainer .wf_blockmainarea {
	margin-top: 25px;
	width: auto !important;
}

#site_tree_container .wf_titlebar {
	display: none !important;
	background: #fff;
}

#site_tree_container .wf_viewmenucontainer {
	display: none !important;
	background: #fff;
}

#pageInfoContainer .wf_titlebar {
	display: block !important;
	background: #fff;
}

.site_tree_container_site {
	bottom: 328px !important;
	top: 4px;
	height: auto !important;
}

#site_tree_container .wf_blockmainarea {
	padding: 0px !important;
	width: 100%;
	position: relative;
}

#pageInfoContainer .wf_blockmainarea {
	margin-top: 25px !important;
	padding: 0 !important;
}

#site_tree_container .wf_blockmainarea ul {
	margin-top: 0 !important;
	margin-bottom: 0;
}

#siteInfoContainer .wf_blockmainarea span {
	font-size: 9px !important;
}

/*#site_tree_container .wf_menuheader{
}*/
#pageInfoContainer .wf_menuheader {
}

#siteInfoContainer .siteInfoStyle {
}

#siteInfoContainer .wf_blockmainarea input {
	margin: 0 !important;
}

#siteInfoContainer .wf_blockmainarea input {
	margin: 0 !important;
}

#siteInfoContainer .wf_titlebar {
	display: none !important;
	background: #fff;
}

#siteInfoToggle .wf_titlebar {
	display: none;
	background: #fff;
}

#pageInfoToggle .wf_titlebar {
	display: none;
	background: #fff;
}

#siteInfoToggle .wf_blockmainarea {
	background: #fff;
}

/* Various site manager styles end */ /*IE7 workspace quickfix*/
html * .scrollTable tr.oddrow {
	height: 1.5em !important;
}

html * .scrollTable tr.evenrow {
	height: 1.5em !important;
}

html * .scrollTable {
	overflow: auto !important;
}

/*IE7 workspace quickfix ends*/
.themeVariationGroupName {
	font-weight: bold;
}

.themeVariationGroup li {
	list-style: none;
}

.allThemeVariations ul {
	list-style: none;
}

.themeUsabilityStyle {
	text-align: center;
	font-weight: bold;
	border: 1px solid #D3D3D3;
}

.pagePreviewContainer {
	float: left;
	overflow: auto;
	padding-left: 2px;
}

.accordionInPages {
	width: 250px;
	float: left;
	background-color: #fff;
}

#site_tree_container .site_tree_container_site_accordion {
	background-color: #E8E8E8;
	right: 0px;
}

#site_tree_container .wf_menuheader {
	background: #E8E8E8;
}

#siteInfoToggle .wf_menuheader {
	background: #E8E8E8;
	height: 35px;
}

#div_id_current_structure_tree {
}

#current_structure_tree {
	width: auto;
}

#site_tree_container {
	
}

#sitemap {
	overflow-y: auto !important;
}

#makeStartPage {
	
}

.reload_properties_for_theme:HOVER {
	cursor: pointer;
}

.applicationPropertyStyleClass {
	
}

.applicationPropertyStyleClass:HOVER {
	background-color: #ffff99;
	cursor: pointer;
}

.mainPagesContentStyle {
	padding-top: 5px;
}

.acStretchmyAccordion {
	background-color: #E8E8E8;
}

.siteTreeNodeNameEditInputStyle {
	width: auto;
}

.emptySiteTreeContainerStyleClass {
	height: 99%;
	width: 99%;
	border: 1px solid;
}

.emptySiteTreeTextContainerStyleClass {
	text-align: center;
	font-size: 24pt;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.removeFileUploadInputImageStyle {
	cursor: pointer;
}

.mainPagesContentStyle {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: auto;
	bottom: 0px;
	overflow: hidden;
}

body.site_manager .mainPagesContentStyle {
	bottom: 0;
}

.accordionInPages {
	position: absolute;
	margin: 0;
	top: 5px;
	left: 5px;
	bottom: 5px;
	height: auto;
	width: 268px;
	overflow: hidden;
	border: 1px #cacaca solid;
}

.accordionInPages .hiddenElement {
	height: 0 !important;
	overflow: hidden !important;	
}

.accordionInPages .selectedElement {
	overflow: auto !important;
	border-bottom: 1px #cacaca solid !important;	
}

.pagePreviewContainer {
	border: 1px #cacaca solid;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 280px;
	overflow: hidden;
}

.pagePreviewContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
}

.pageInfoButtonsContainer {
	border-top: 1px #959494 solid;
	position: absolute;
	bottom: 0;
	height: 55px;
	right: 0;
	left: 0;
	width: auto;
	background: url(images/bottom_tiler.gif) top left repeat-x #c7c6c6;
}

.rightButtonStyle {
	padding-right: 12px;
}

.lucidManagementButtons a {
	display: block;
	float: left;
	padding-top: 30px;
	margin-top: 7px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #131313;
	margin-left: 25px;
	margin-right: 13px;
	width: 24px;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
}

.lucidManagementButtons a:hover {
	text-decoration: none;	
}

html>body .lucidManagementButtons a {
	min-width: 24px;
	width: auto;
}

.pageInfoButtonsContainer .filters, .pageInfoButtonsContainer .states {
	float: left;	
}

.lucidManagementButtons a#newPageButton {
	background: url(images/new_24.gif) top center no-repeat;
}

.lucidManagementButtons a#newPagesButton {
	background: url(images/new_multiple_24.gif) top center no-repeat;
}

.lucidManagementButtons a#pagePropertiesButton {
	background: url(../images/page_properties.png) top center no-repeat;
}

.lucidManagementButtons a#pagePermissionsButton {
	background: url(../images/page_permissions.png) top center no-repeat;
}

.lucidManagementButtons a#showPageModules .innerSpan {
	background: url(images/sinfo_16.png) top center no-repeat;
}

.pageInfoButtonsContainer a#showThemesButton .innerSpan {
	background: url(images/lgicn_16.png) top center no-repeat;
}

.pageInfoButtonsContainer a#showPageModules.disabledButtonInPages {
	//background-image: url(images/sinfo_24_disabled.png);
	display: none;
}

.pageInfoButtonsContainer a#showEditPagesButton .innerSpan {
	background: url(images/edit_24.gif) top center no-repeat;
}

.pageInfoButtonsContainer a#showSourcePagesButton .innerSpan {
	background: url(images/script_24.gif) top center no-repeat;
}

.pageInfoButtonsContainer a#showPreviewPagesButton .innerSpan {
	background: url(images/opnbr_24.gif) top center no-repeat;
}

#accordion {
	background-color: #fff;
}

#accordion .toggler {
	border-bottom: 1px #bdbdbd solid;
	background: url(images/accordion_title.gif) top left repeat-x #d1d1d1;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #3d3d3d;
	padding: 0 6px;
	font-weight: bold;
	display: block;
}

#accordion .toggler .title {
	line-height: 18px;
	padding-left: 16px;
	display: block;
	background: url(images/arrow_right.gif) left 4px no-repeat;
}

#accordion .selectedToggler,#accordion .firstToggler {
	border-top: 0;
}

#accordion .selectedToggler .title {
	background: url(images/arrow_down.gif) left 4px no-repeat;
}

#site_tree_container .wf_menuheader {
	background-color: #fff;
}

#div_id_current_structure_tree {
	background-color: #fff;
}

ul#page_tree_div, ul#rootUl {
	margin: 0;
	padding: 0;
}

ul#page_tree_div li, ul#rootUl li {
	list-style: none;
	line-height: 22px;
	padding: 0 12px;
	white-space: nowrap;
}

ul#page_tree_div li img, ul#rootUl li img {
	vertical-align: middle;
}

#div_id_new_page_tree ul#page_tree_div li img, #site_templates ul#page_tree_div li img {
	display: none;	
}

ul#page_tree_div li img.pageTreeNameIconStyle, ul#rootUl li img.pageTreeNameIconStyle {
	display: inline !important;
}

ul#page_tree_div li a, ul#rootUl li a {
	margin-left: 5px;
	line-height: 22px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #3d3d3d;
}

ul#page_tree_div li ul, ul#rootUl li ul {
	padding-left: 18px;
}

#templatesAccordion .acToggle {
	border-top: 1px #bdbdbd solid;
	background: url(images/accordion_title.gif) top left repeat-x #d1d1d1;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #3d3d3d;
	padding: 0 6px;
	font-weight: bold;
	display: block;
}

#panel1Header {
	border-top: 0 !important;
}

#templatesAccordion .acToggle span {
	line-height: 18px;
	padding-left: 16px;
	display: block;
	background: url(images/arrow_right.gif) left 4px no-repeat;
}

#templatesAccordion .selectedStretch ul.tree_drag_drop {
	padding: 5px;
}

#templatesAccordion .selectedToggler {
	border-bottom: 1px #bdbdbd solid;	
}

#templatesAccordion .selectedToggler span {
	background: url(images/arrow_down.gif) left 4px no-repeat;
}

.accordionHeading {
	line-height: 26px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	padding: 0 6px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

#pagesAccordion ul {
	padding: 5px 20px 8px 0 !important;
}

.closeNewPageOrPagesStyle {
	cursor: pointer;
	position: absolute;
	right: -8px;
	top: -8px;
}

.disabledButtonInPages {
	color: #a0a0a0 !important;
}

.filters {
	margin-top: 8px;
	padding-right: 8px;
	border-right: 1px #a0a0a0 dotted;
}

.filters a {
	display: block;
	float: left;
	margin: 0;
	font-size: 10px;
	height: 40px;
	padding-top: 0;
	width: 16px;
	padding-left: 10px;
	margin-left: 8px;
	margin-right: 8px;
	text-shadow: #fff 1px 1px 1px;
}

html>body .filters a {
	width: auto;
	min-width: 16px;
}

.filters a .outerSpan {
	display: block;
	float: left;
	height: 40px;
	padding-right: 16px;
	padding-left: 6px;
}

.filters a .innerSpan {
	display: block;
	float: left;
	margin-top: 5px;
	padding-top: 20px;
}

.filters a.active {
	background: url(images/filter_background_left.png) left no-repeat;
	color: #fff;
	text-shadow: #a0a0a0 1px 1px 1px;
}

.filters a.active .outerSpan {
	background: url(images/filter_background_right.png) right no-repeat;
}

.states {
	margin-left: 16px;	
}

.states a {
	padding: 0;
	margin: 0;
	height: 55px;
	padding-left: 2px;
}

.states a .outerSpan {
	display: block;
	float: left;
	padding-right: 8px;
	padding-left: 6px;
	height: 55px;
}

.states a .innerSpan {
	display: block;
	float: left;
	padding-top: 30px;
	margin-top: 7px;
	width: 30px;
	text-align: center;
}

html>body .states a .innerSpan {
	min-width: 30px;
	width: auto;
}

.activeButtonInPages {
	background: url(images/selected_button_left.png) left no-repeat;
}

.activeButtonInPages .outerSpan {
	background: url(images/selected_button_right.png) right no-repeat;
}

/* MoodalBox */
div#mb_center, div#mb_bottom {
	background-color: none;
}

div#mb_contents {
	border: 0;
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	background-color: transparent !important;
}

div#mb_contents .mootabs_title {
	padding-top: 8px;
	background: #fff;
	height: 26px;
	border-bottom: 1px #d0d0d0 solid;
	padding-left: 5px;
	text-align: left;
}

div#mb_contents .mootabs_title li {
	margin-left: 3px;
	margin-right: 0;
	background-color: #d0d0d0;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
}

div#mb_contents .mootabs_title li.active {
	background-color: #fff;
	border: 1px #d0d0d0 solid;
	border-bottom: 0;
	padding: 0 7px;
	line-height: 25px;
}

div#mb_contents .mootabs_panel {
	background-color: #fff !important;
	text-align: left;
}

div#mb_bottom {
	border: 0;
	overflow: hidden;
	height: 32px !important;
	background-color: #d7d7d7 !important;
	border-top: 1px #aaa solid;
}

div#mb_bottom #mb_caption {
	line-height: 24px;
	margin-top: 4px;
	margin-left: 8px;	
}

a#mb_close_link {
	width: 24px !important;
	height: 24px !important;
	background: url(images/close_24.png) no-repeat !important;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
	border: 0 !important;
}

.templatesTreeInLucidStyle {
	list-style: none;
	padding: 0px;
	margin: 0;
	margin-bottom: 12px;
}

.templatesTreeInLucidStyle li {
	display: block;
	clear: both;
	overflow: hidden;
}

.templatesTreeInLucidStyle li img {
	float: left;
}

.templatesTreeInLucidStyle li a {
	display: block;
	float: left;
	margin-top: 3px;
	margin-bottom: 5px;
}

.templatesTreeInLucidStyle li ul {
	list-style: none;
	padding-left: 20px;
}

.templateNameInLucidTemplatesTreeStyle {
	margin-left: 5px;
}

.templatesTreeContainerInLucidStyle {
	overflow: auto;
	padding: 12px;
}

.templatesTreeContainerInLucidStyle .webfaceButtonLayer {
	padding: 0 !important;
	padding-bottom: 12px !important;
}

#themeTemplateChildrenContainer {
	position: fixed;
	background: #fff;
	margin-top: 42px;
	margin-left: -30px !important;
	width: 205px;
	background: url(images/child-templates-bottom.png) left bottom no-repeat;
	padding-bottom: 18px;
	position: fixed;
	bottom: 155px;
}

#themeTemplateChildrenContainer ul {
	margin: 0;
	padding: 0;
	list-style: none;	
	width: 205px;
	background: url(images/child-templates-top.png) left top no-repeat;
	padding: 10px 8px 0 8px;
}

#themeTemplateChildrenContainer ul li {
	font-size: 11px;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	padding: 5px 0;
	width: 189px;
	overflow: hidden;
	border-top: 1px #000 solid;
	border-bottom: 1px #666 solid;
}

#themeTemplateChildrenContainer ul li.firstChild {
	border-top: 0;
	padding-top: 0;
}

#themeTemplateChildrenContainer ul li.lastChild {
	border-bottom: 0;
	padding-bottom: 0;
}

#themeTemplateChildrenContainer ul li span {
	display: block;
	float: left;
	width: 130px;
	line-height: 16px;
}

#themeTemplateChildrenContainer .container {
	float: right;
	width: 54px;
	overflow: hidden;
}

#themeTemplateChildrenContainer ul li a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 1px;
	padding: 0;
}

#themeTemplateChildrenContainer ul li a.applyPage {
	background: url(images/opnbr_16.png) no-repeat;
}

#themeTemplateChildrenContainer ul li a.applyPageAndChildren {
	background: url(images/docs_16.png) no-repeat;
}

#themeTemplateChildrenContainer ul li a.applySite {
	background: url(images/ntwrk_16.png) no-repeat;
}

.themeTemplateChildrenContainerAsStackStyle {
}

iframe.contentItemEditorFrameStyle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

#pageTemplatesStretcher, #site_templates {
	overflow: auto;
	margin-top: 8px;
}

#site_templates {
	border: 1px #666 solid;
}

#pageTemplatesStretcher ul#page_tree_div li a {
	color: #fff;
}

div.lucidLocaleChooserContainerStyle {
	float: left;
}

div.topToolbarContainer {
	position: absolute;
	top: -29px;
	right: 10px;
	height: 28px;
}

div.topToolbarContainer a {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1F1F1F;
	display: block;
	float: left;
	line-height: 16px;
	padding-left: 8px;
	margin-top: 7px;
	margin-right: 20px;
}

div.topToolbarContainer a.activeButtonInPages {
	background: url(images/sub_navigation_left.png) left no-repeat;
	color: #fff;
	text-shadow: #555 1px 1px 1px;
}

div.topToolbarContainer a span {
	display:block;
	float:left;
	line-height:16px;
	padding:0 11px 0 3px;
}

div.topToolbarContainer a.activeButtonInPages span {
	background: url(images/sub_navigation_right.png) right no-repeat;
}

div.topToolbarContainer select {
	float: left;
	font-size: 11px;
	margin: 0;
	margin-top: 6px;
}

div#leftButtons {
	position: absolute;
	top: 24px;
	background-color: #fff;
	border: 1px #cacaca solid;
	border-left: 0;
	border-radius-topright: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius-topright: 6px;
	border-radius-bottomright: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius-bottomright: 6px;
	left: 274px;
	z-index: 100;
}

div#leftButtons a {
	display: block;
	width: 16px;
	height: 16px;
	text-align: center;
	margin: 6px;
	margin-left: 2px;
}

div#leftButtons a.newPageButtonStyleClass {
	background: url(images/lefticons/new_16.png) top left no-repeat;
}

div#leftButtons a.newPagesButtonStyleClass {
	background: url(images/lefticons/docs_16.png) top left no-repeat;
}

div#leftButtons a.pagePropertiesButtonStyleClass {
	background: url(images/lefticons/prefs_16.png) top left no-repeat;
}

div#leftButtons a.pagePermissionsButtonStyleClass {
	background: url(images/lefticons/lock_16.png) top left no-repeat;
}

div#leftButtons a span {
	display: none;
}