div.content_item_toolbar {
	width: 100%;
	overflow: hidden;
}

ul.content_item_toolbar {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	border: 1px #555 solid;
	background: url(images/content-admin.gif) top left repeat-x #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 0;
}

.content_item_toolbar li {
	margin: 0;
	float: left;
	line-height: 1em;
	border-right: 1px #555 solid;
	border-left: 1px #eeeeee solid;
}

.content_item_toolbar li.last {
	border-right: 0;
}

.content_item_toolbar li.first {
	border-left: 0;	
}

.blog-entry {
	position: relative;
	border: 1px transparent solid;
}

.blog-entry.hovered {
	background-color: #efefef;
	border: 1px #a0a0a0 solid;
}

.blog-entry div.content_item_toolbar {
	position: absolute;
	top: -5px;
	right: -5px;
	width: auto;
}

.content_item_toolbar li a {
	font-size: 11px;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	padding: 4px 10px;
	display: block;
}

.commentsController {
	width: 100%;
	overflow: hidden;
	margin-bottom: 6px;
}

.commentsController .commentsControllerInputs {
	border: 1px #555 solid;
	background: url(images/content-admin.gif) top left repeat-x #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	float: left;
	font-size: 11px;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	padding: 4px 10px;
	line-height: 1em;
}

.commentsController .commentsControllerInputs input {
	float: left;
	margin: 0;
	margin-right: 4px;
}

.commentsController .commentsControllerInputs label {
	float: left;
	padding-top: 3px;
}

iframe.contentItemEditorFrameStyle {
	bottom: 0;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

div#mb_bottom #mb_caption {
	line-height:24px;
	margin-left:8px;
	margin-top:4px;
}

a#mb_close_link {
	background:transparent url(images/close_24.png) no-repeat scroll 0 0 !important;
	border:0 none !important;
	float:right;
	height:24px !important;
	margin-right:4px;
	margin-top:4px;
	width:24px !important;
}