/*** idegaWeb Content CSS classes ***/

.content_viewer_new_folder {
	width: auto;
	height: 14px;
	background: url(../images/newfolder.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_details {
	width: auto;
	height: 16px;
	background: url(../images/details.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_preview {
	width: auto;
	height: 16px;
	background: url(../images/preview.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_document_list {
	width: auto;
	height: 16px;
	background: url(../images/list.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_permissions {
	width: auto;
	height: 16px;
	background: url(../images/permissions.gif) no-repeat;
	padding-left: 18px;
}

.content_viewer_file_details {
	width: 16px;
	height: 16px;
	background: url(../images/details.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_viewer_file_preview {
	width: 16px;
	height: 16px;
	background: url(../images/preview.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_viewer_file_permissions {
	width: 16px;
	height: 16px;
	background: url(../images/permissions.gif) no-repeat;
	float: right;
	padding-right: 10px;
}

.content_file_preview{
}

.content_search_link{
}


/*ContentList (DocumentList/ContentViewer) overriding standard styles*/

.contentListBlock .wf_blockmainarea{
	padding: 0px;
}

div.contentListBlock div.wf_blockmainarea div.scrollContainer{
	height: 285px;
}

head:first-child+body div[class].contentListBlock div[class].scrollContainer {
	height: 285px;
}


head:first-child+body div[class].contentListBlock div[class].scrollContainer table thead[class].fixedHeader tr {
	display: block;
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
/* Filter out Opera 5.x/6.x and MacIE 5.x                                                 */
head:first-child+body div[class].contentListBlock div[class].wf_blockmainarea div[class].scrollContainer table tbody {
	height: 262px;
}

.cms_permission_matrix {
	height: 150px;
	overflow:auto;
	border: 1px solid #D3D3D3;
	margin: 5px 5px 5px 5px;
}

.cms_permission_matrix_header{
	font-weight: bold;
	margin: 5px;
}

.cms_permission_listoddrow{
	background-color: #f6f6f6;
	height: 20px;
}

.cms_permission_listevenrow{
	background-color: #ffffff;
	height: 20px;
}

.cms_permission_list_input{
	height: 18px;
	width: 100px;
	border: 1px solid #D3D3D3;
}

.content_search_link{
}

.page_create_edit_link {
	background-image: url(../images/edit_16.gif);
}
.page_details_link {
	background-image: url(../images/details.gif);
}
.page_save_link {
	background-image: url(../images/save_16.gif);
}

.create_page_fieldset {
	height: 200px;
}

.create_page_fieldset .formInput {
	float: left;
	clear: right;
	display: inline;
}

.create_page_fieldset .label {
	float: left;
	clear: left;
	display: inline;
}

.page_tree {
	width: 200px;
	height: 100px;
	clear: both;
	background-color:#EEEEEE;
	border: 1px solid #CCCCCC;
	overflow: auto;
}


/*div.ws_main div.wf_block div.wf_toolbarcontainer {
	width: 100%;
	height: 18px;
	background: #FAFAFA url(images/toolbar/bg_item.gif) repeat-x;
	border-bottom: 1px solid #D7D7D7;
}*/

.content_item_toolbar, 
.content_item_toolbar li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.content_item_toolbar li{
	float: left;
	height: 16px;
	border: 1px solid #D7D7D7;
	border-width: 0 1px 0 0;
}
.content_item_toolbar li a,
.content_item_toolbar li span
{
	float: left;
	padding: 0 0 0 16px;
	height: 18px;
	font-weight: normal;
	color: #464646;
}
.content_item_toolbar li.wf_toolbarbuttonselected
{
	background: #E7E7E7 url(images/tabbar/bg_item_selected.gif) repeat-x;
}

.content_item_toolbar li a,
.content_item_toolbar li a:hover,
.content_item_toolbar li span
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.content_item_toolbar li a:hover {
	background-color: #e7e7e7;
}


.content_item_toolbar{

	padding: 1px;
	margin: 4px;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size:0.9em;
	overflow: hidden;
}

.content_item_toolbar ul{

	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.content_item_toolbar li{
	border: 1px solid #D3D3D3;
	background-color: #F2F2F2;
	margin: 1px;
	padding:3px;
	list-style: none;
	display:inline;
}

.content_item_toolbar li.first{
	clear:left;
}

.content_item_toolbar li.last{
	clear:right;
}

.content_item_toolbar li .edit{
	background-image: url(images/edit_16.gif);
}
.content_item_toolbar li .delete{
	background-image: url(images/del_16.gif);
}
.content_item_toolbar li .create{
	background-image: url(images/new_16.gif);
}

.current_structure {
	position:absolute;
	border-left:0px; 
	border-bottom:0px;
	float:right;
	margin:0px 0px 10px 10px;
}

.current_structure ul {
	list-style-type:none;
	padding-left: 15px;
/*	padding: 0;
	margin: 0;
*/
}

.current_structure li {
	list-style-type:none;
	vertical-align:middle;
}

#floatingContainer li{
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-decoration:none;
	padding-left:3px;
	line-height:13px;		
	color:#000;
	font-family:arial;
}

.current_structure input {
	border: 0;
	padding: 0;
	margin: 0;
}

.current_structure a {
/*	vertical-align: 20%;*/
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.current_structure img {
	padding: 0px;
	margin: -1px 0px -1px 0px; 
	border: 0px;
}

.template_tree{
/*
	position:absolute;
	right:0;
	top:90px;
	border-left:0px; 
	border-bottom:0px;

	float:right;
*/	width:70%;
	background:#fff;
	margin:0px 0px 10px 10px;
}

.template_tree ul {
	list-style-type:none;
	text-decoration:none;
	padding-left: 15px;
}

.template_accordion {
	list-style-type:none;
	text-decoration:none;
	padding-bottom: 15px;
	top: 50%;
	
}

.theme_container {
	display: inline;
	position: absolute;
	float: right;
	top: 22px;
	right: 1px;
}

.theme_slider {
	width: 70%;
	height: 150px;
	background-color: #000000;
	border: 1px solid #D7D7D7;
}

.leftThemeScroller {
	position: absolute;
	cursor: pointer;
	bottom: 75px;
}

.rightThemeScroller{
	position: absolute;
	cursor: pointer;
	left: 565px;
	bottom: 75px;
	z-index: 100;
}

.themes_gallery {
	
}

.theme_image {
}

.themeName {
	text-align: center;
	color: #FFFFFF;
	clear: left;
}

.usedThemeName {
	text-align: center;
	color: #FFCC00;
	clear: left;
}

.selectedThemeName {
	text-align: center;
	color: #025FD0;
	clear: left;
}

.themesTicker {
	position: absolute;
	left: 29px;
	width: 535px;
	height: 150px;
	overflow: hidden;
}

.themesTicker .multiImageGallery {
	position: relative;
}

.themesTicker .multiImageGallery .imageGallery {
	cursor: pointer;
	float: left;
}

.imageGallery {
}

.multiImageGallery {
}

.galleryImage {
	float: left;
}

.galleryImage .firstInRow {
	clear: left;
}

.galleryImage .lastInRow {
	clear: right;
}

.bigThemePreview {
	width: 70%;
	border: 1px solid #D7D7D7;
}

.themeChooseStyle {
	position: absolute;
    width: 149px;
    height: 112px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/idegaweb/bundles/com.idega.core.bundle/resources/style/images/transparent.png',sizingMethod='scale');
	z-index: 9999;
	clear: both;
	
}

.themeChooseStyleText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 34pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    height: 50%;
}

.pageInfoStyle {
	position: absolute;
	width: 275px;
	height: 150px;
	bottom: 15px;
	border: 1px solid #D7D7D7;
	z-index: 1;
}

.buttonsContainerStyle {
	position: absolute;
	width: 100%;
	bottom: 0px;
	border: 1px solid #D7D7D7;
}

.siteInfoStyle {
	position: absolute;
	width: 275px;
	height: 325px;
	right: 0px;
	bottom: 0px;
	border: 1px solid #D7D7D7;
	z-index: 1;
}

.currentStructureStyle {
	position: absolute;
/*	width: 35%;
	width: 275px;
*/
	width: 275px;
	height: 275px;
	right: 0px;
	border: 1px solid #D7D7D7;
}

.rightButtonStyle {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.pagePreviewFrame {
	position: absolute;
	border: 1px solid #D7D7D7;
}

.accordionTabTitleBar {

	background-color: #D3D3D3;
	border: 1px outset #D7D7D7;
}

.accordionTabContentBox {
	background-color: #F2F2F2;
/*	border: 1px outset #F2F2F2; */
}

.template_tree {
	background-color: #F2F2F2;
/*	border: 1px solid #000000;
	*/
}

.newPageContainerStyle {
	position: absolute;
	bottom: 24px;
	width: 200px;
	z-index: 5;
	background-color: #f6f6f6;
	border: 1px solid #D7D7D7;
}

.pageInfoButtonsContainer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #D7D7D7;
}

.pagesTypesContainer {
	position: absolute;
	border: 1px solid #D7D7D7;
	height: 130px;
}

.pagesTypesContainer ul{
	list-style-type: none;
	padding-left: 15px;
}


.siteTemplatesContainer {
	position: absolute;
	bottom: 0px;
	border: 1px solid #D7D7D7;
}

.siteTemplatesContainer ul{
	list-style-type: none;
	padding-left: 15px;
}

.site_tree_container_site {
	position: absolute;
	right: 0px;
	width: 275px;
	border: 1px solid #D7D7D7;
}

.site_tree_container_pages {
	position: absolute;
	width: 275px;
	border: 1px solid #D7D7D7;
}

.site_tree_container_pages ul {
	list-style-type: none;
	padding-left: 15px;
}

.site_tree_container_site ul {
	list-style-type: none;
	padding-left: 15px;
}

.siteTreeTopic {
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px;
}

.recycleBin {
/*	margin-left: 7px; */
/*	margin-top: 7px; */
	
	border: 2px outset #D7D7D7;	
	opacity: 0.5; 
}

.siteTree {
	margin: 5px;
	border: 1px solid #D7D7D7;
	overflow:auto;
	height: 200px;
	width: 250px;
}


/* Various site manager styles */

#pagesTypesContainer{
}


div.pagesTypesContainer{
height: auto;
border-bottom-width: 0px;
left: 8px;
right: 281px;
top: 4px !important;
width: auto !important;
bottom: 330px;
overflow: auto;
}

div#siteTemplatesContainer div.siteTemplatesContainer .wf_blockmainarea #site_templates .accordionTabContentBox{
border: 1px solid #d7d7d7 !important;
}

div.siteTemplatesContainer{
height: 326px !important;
left: 8px;
right: 281px !important;
width: auto !important;
}


#site_templates{
border-bottom-width: 0 !important;
}


div.siteTemplatesContainer .wf_block{

}

div.siteTemplatesContainer .wf_blockmainarea{
bottom: 0 !important;
padding: 0 !important;
border-bottom: 1px solid #777777 !important;

}


div.siteTemplatesContainer .wf_titlebar{
display: block !important;
background: #fff !important;
position: absolute;
bottom: 304px !important;
border: 1px solid #d7d7d7;
border-width: 1px 0;
}

div.siteTemplatesContainer .wf_titlebar_icon,
div.pagesTypesContainer .wf_titlebar_icon,
#pageInfoContainer .wf_titlebar_icon,
#site_tree_container .wf_titlebar_icon,
#siteInfoContainer .wf_titlebar_icon{
display: none;
}


div.siteTemplatesContainer .wf_titlebar_text,
div.pagesTypesContainer .wf_titlebar_text,
#pageInfoContainer .wf_titlebar_text,
#site_tree_container .wf_titlebar_text,
#siteInfoContainer .wf_titlebar_text{
padding: 3px 0 0 10px;
}

div.pagesTypesContainer .wf_titlebar{
display: block !important;
background: #fff !important;
position: absolute;
z-index: 1;
}

div.pagesTypesContainer .wf_blockmainarea{
margin-top: 25px;
width: auto !important;
}

#site_tree_container .wf_titlebar{
display: block !important;
background: #fff;
}

#pageInfoContainer .wf_titlebar{
	display: block !important;
	background: #fff;
}

.site_tree_container_site{
bottom: 328px !important;
top: 4px;
height: auto !important;


}

#site_tree_container .wf_blockmainarea{
margin-top: 25px !important;
padding: 0 !important;
}

#pageInfoContainer .wf_blockmainarea{
	margin-top: 25px !important;
	padding: 0 !important;
}

#site_tree_container .wf_blockmainarea ul{
margin-top: 0 !important;
margin-bottom: 0;
}

#siteInfoContainer .wf_blockmainarea span{
font-size: 9px !important;
}

#site_tree_container .wf_menuheader{
border-bottom: 1px solid #d7d7d7;
}

#pageInfoContainer .wf_menuheader{
	border-bottom: 1px solid #d7d7d7;
}

#siteInfoContainer .siteInfoStyle{
bottom: 0 !important;
height: 327px !important;
}

#siteInfoContainer .wf_blockmainarea input{
margin: 0 !important;
}

#siteInfoContainer .wf_blockmainarea input{
margin: 0 !important;
}

#siteInfoContainer .wf_titlebar{
display: block !important;
background: #fff;
}



/* Various site manager styles end */

/*IE7 workspace quickfix*/

html* .scrollTable tr.oddrow{
height: 1.5em !important;
}

html* .scrollTable tr.evenrow{
height: 1.5em !important;
}

html* .scrollTable{
overflow: auto !important;
}

/*IE7 workspace quickfix ends*/

.themeVariationGroupName {
	font-weight: bold;
}

.themeVariationGroup li {
	list-style-type: none;
}

.themeUsabilityStyle {
	font-weight: bold;
}

.pagePreviewContainer {
	overflow: auto;
}