.theme_container {
	width: 250px;
	border: 1px solid #f00;
	border-width: 1px 0 0 1px;
	float: right;
	overflow: auto;
}

#themePreviewContainer {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 268px;
	overflow: hidden;
	width: auto;
	border: 1px #cdcdcd solid;	
	
	height: expression(document.body.clientHeight ? document.body.clientHeight - 232 + 'px' : document.documentElement.clientHeight - 232 + 'px');
}

html>body #themePreviewContainer {
	bottom: 165px;
	height: auto;
}

.themePreviewContainerStyle {
	position: relative;
}

#mainThemesContainer {
	position: absolute;
	top: 55px;
	left: 202px !important;
	right: 5px !important;
	border: 1px #cdcdcd solid;
	margin: 0 !important;

	height: expression(document.body.clientHeight ? document.body.clientHeight - 60 + 'px' : document.documentElement.clientHeight - 60 + 'px');
	width: expression(document.body.clientWidth ? document.body.clientWidth - 207 + 'px' : document.documentElement.clientWidth - 207 + 'px');
}

html>body #mainThemesContainer {
	bottom: 5px;
	height: auto;
	width: auto !important;
}

/*#mainThemesContentContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: 1px #0f0 solid;
	
	height: expression(document.body.clientHeight ? document.body.clientHeight - 60 + 'px' : document.documentElement.clientHeight - 60 + 'px');
	width: expression(document.body.clientWidth ? document.body.clientWidth - 207 + 'px' : document.documentElement.clientWidth - 207 + 'px');
}

html>body #mainThemesContentContainer {
	bottom: 0;
	height: auto;
	width: auto;
}*/

#themeVariationsContainer {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 252px;
	border: 1px #cdcdcd solid;

	height: expression(document.body.clientHeight ? document.body.clientHeight - 76 + 'px' : document.documentElement.clientHeight - 76 + 'px');
}

html>body #themeVariationsContainer {
	bottom: 8px;
	height: auto !important;
}

#themeUsability {
	margin: 8px;
	padding: 8px;
	background-color: #ffff44;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

span.variationHeading {
	display: block;
	margin: 0 !important;
	border-bottom: 1px #cdcdcd solid;
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px;
	background-color: #a1a1a1;
	color: #fff;
}

#themeSaveArea {
	bottom: 89px;
	height: 88px;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0 !important;
	width: 250px;
}

html>body #themeSaveArea {
	width: 252px;	
}

#themeVariationsContainer div.uploadForm {
	bottom: 0;
	left: 0;
	width: 250px;
	height: 88px;
	position: absolute;
}

html>body #themeVariationsContainer div.uploadForm {
	width: 252px;	
}

#themeVariationsContainer div.uploadForm h1 {
	margin: 0;
	border-bottom: 1px #cdcdcd solid;
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px;
	background-color: #a1a1a1;
	color: #fff;
}

#themeStyleVariationsBlock {
	position: absolute;
	top: 21px;
	bottom: 177px;
	height: auto;
	left: 0;
	right: 0;
	overflow: auto;
}

img#themePreview {
	height: auto;
	width: 100%;
}

div#mainThemesContentContainer {
	height: auto !important;	
}

.themesSliderContainer {
	width: 100%;
}

.themePreviewBigImageStyle {
	width: 50em;
}

.theme_container ul {
	margin: 0;
	padding: 5px;
}

.themeVariationGroup li input{
	margin-bottom: -2px;
}