.theme_container {
	width: 250px;
	border-width: 1px 0 0 1px;
	float: right;
	overflow: auto;
}

#themePreviewContainer {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 262px;
	overflow: hidden;
	width: auto;
	border: 1px #cdcdcd solid;	
	
	height: expression(document.body.clientHeight ? document.body.clientHeight - 232 + 'px' : document.documentElement.clientHeight - 232 + 'px');
}

html>body #themePreviewContainer {
	bottom: 162px;
	height: auto;
}

.themePreviewContainerStyle {
	position: relative;
}

#mainThemesContainer {
	position: absolute;
	top: 0px;
	left: 0px !important;
	right: 0px !important;
	border: 0px !important;
	margin: 0 !important;

	height: expression(document.body.clientHeight ? document.body.clientHeight - 80 + 'px' : document.documentElement.clientHeight - 60 + 'px');
	width: expression(document.body.clientWidth ? document.body.clientWidth - 203 + 'px' : document.documentElement.clientWidth - 203 + 'px');
}

html>body #mainThemesContainer {
	bottom: 0px;
	height: auto;
	width: auto !important;
}

/*#mainThemesContentContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: 1px #0f0 solid;
	
	height: expression(document.body.clientHeight ? document.body.clientHeight - 80 + 'px' : document.documentElement.clientHeight - 80 + 'px');
	width: expression(document.body.clientWidth ? document.body.clientWidth - 203 + 'px' : document.documentElement.clientWidth - 203 + 'px');
}

html>body #mainThemesContentContainer {
	bottom: 0;
	height: auto;
	width: auto;
}*/

#themeVariationsContainer {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 252px;
	overflow: hidden;

	height: expression(document.body.clientHeight ? document.body.clientHeight - 96 + 'px' : document.documentElement.clientHeight - 96 + 'px');
}

html>body #themeVariationsContainer {
	bottom: 5px;
	height: auto !important;
}

#themeUsability {
	margin: 8px;
	padding: 8px;
	background-color: #ffff44;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
}

span.variationHeading {
	display: block;
	margin: 0 !important;
	border-bottom: 1px #cdcdcd solid;
	font-size: 11px;
	line-height: 20px;
	padding: 0 8px;
	background: url(images/sub_navigation_background.gif) left bottom repeat-x #c6cbc8;
	color: #fff;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

#themeSaveArea {
	bottom: 157px;
	height: 88px;
	border: 1px #cdcdcd solid;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0 !important;
	width: 250px;
	background-color: #fff;
}

#themeSaveArea .wf_webdav_upload {
}

#themeSaveArea .wf_webdav_upload .inputLabel {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	margin-right: 8px;
	float: left;
	line-height: 18px;
}

#themeSaveArea .wf_webdav_upload input {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	margin-right: 8px;
	margin-bottom: 3px;
	float: left !important;
	width: 110px;
	clear: right;
	font-weight: normal;
	padding: 2px 3px;
}

#themeSaveArea .wf_webdav_upload div {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	font-weight: normal;
}

#themeSaveArea .wf_webdav_upload div input {
	float: none;
	width: auto;
	margin-right: 4px;
	margin-left: 0;
}

#themeSaveArea .themeSaveAreaInput {
width: 238px;
overflow: hidden;
margin-bottom: 4px;
}

#themeSaveArea .themeSaveAreaInput .inputLabel {
float: left;
line-height: 20px;
}

#themeSaveArea .themeSaveAreaInput input {
float: left;
width: 140px !important;
}

#themeVariationsContainer div.uploadForm {
	background-color: #fff;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 100px;
	position: absolute;
	border: 1px #cdcdcd solid;
}

#themeVariationsContainer div.uploadForm h1 {
	margin: 0;
	border-bottom: 1px #cdcdcd solid;
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px;
	background-color: #a1a1a1;
	color: #fff;
}

#themeStyleVariationsBlock {
	background-color: #fff;
	position: absolute;
	top: 20px;
	bottom: 252px;
	border: 1px #cdcdcd solid;
	height: auto;
	left: 0;
	right: 0;
	overflow: auto;
}

img#themePreview {
	height: auto;
	width: 100%;
}

div#mainThemesContentContainer {
	height: auto !important;	
}

.themesSliderContainer {
	width: 100%;
}

.themePreviewBigImageStyle {
	width: 50em;
}

.theme_container ul {
	margin: 0;
	padding: 0;
}

.theme_container ul li ul {
	padding: 5px;
}

.themeVariationGroupName {
	color: #fff;
	line-height: 18px;
	padding: 0 5px;
	background: url(images/sub_navigation_background.gif) left bottom repeat-x #c6cbc8;
	color: #1f1f1f;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.themeVariationGroup li input{
	vertical-align: middle;
}

.themeVariationGroup li {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	clear: both;
}

.reload_properties_for_theme {
	position: absolute;
	top: 45px;
	left: 200px;
}

#themeUploader {
	position: absolute !important;
	bottom: 0 !important;
	height: 150px !important;
	overflow: hidden !important;
}

.uploadThemeForm {
	overflow: auto;
	height: 129px;
}

.fileUploadInputsContainerStyle {
	margin: 5px;
	width: 238px;
	height: 86px;
	border: 1px #CDCDCD solid;
	overflow: auto;
	background-color: #efefef;
}

.fileUploadInputsContainerStyle div {
	margin: 6px;
	border: 1px #cdcdcd solid;
	height: 28px;
	padding: 2px;
	background-color: #fff;
	position: relative;
}

input.fileUploadInputStyle {
	clear: both;
	font-size: 9px;
	width: 205px !important;
	border: 0;
}

.fileUploadInputsContainerStyle img {
	display: block;
	position: absolute;
	left: -6px;
	top: -6px;
}

.fileUploadViewerMainLayerStyle {
	position: relative;
}

.fileUploaderProgressBarStyle {
	position: absolute;
	top: 0;
	left: 5px;
	padding: 4px;
	width: 228px;
	background-color: #ffa;
	border: 2px #aa6 solid;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.fileUploadButtonsContainerStyle {
	padding-left: 2px;
}

.fileUploadButtonsContainerStyle input {
	color: #1f1f1f;
	float: left !important;
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin-bottom: 3px;
	margin-right: 1px;
	padding: 2px 3px;
}

span.themeVariationColourContainerStyle {
	border: thin solid #000;
	display: block;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
}

span.themeVariationColourContainerStyle:HOVER {
	cursor: pointer;
}